h1 {
    color: #e0374f;
}

h2 {
    color: #1b4095;
}

body {
    background-color: whitesmoke;
}

.img-fluid{
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.nav-link {
    color: #1b4095;
}

.nav-item :hover {
    color: #e0374f;
}